<div class="jumbotron">
    <h1>CONTROL DE MARCAJES</h1>
    <p class="lead"></p>
    <p></p>
</div>
<div class="row">
    <div class="col-md-4">
        @Html.ActionLink("Empleados", "Index", "Empleados", new { area = "" }, new { @class = "navbar-brand" })
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
</div>
