@model IEnumerable<ControlMarcaje.Models.Empleado>

@{
    ViewBag.Title = "Control de marcajes";
}

<h2>Empleados registrados</h2>

<p>
    @Html.ActionLink("Nuevo empleado", "Create")
</p>

<h2>Marcajes</h2>

<br />
<input type="text" id="buscar" placeholder="Buscar.." class="form-control" />
<br />
<div class="list-group" id="empleados">
    @foreach (var item in Model)
    {
        <a class="list-group-item list-group-item-action" href="@Url.Action("Index", "Marcajes", new { item.num_empleado })">
            @Html.DisplayFor(modelItem => item.nombre_completo)
        </a>
    }
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#buscar").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#empleados a").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
}